#tasks_table th a, #tasks_table th a:hover, #tasks_table th a:active {
	color: black;
	text-decoration: none;
	display: block;
}
#tasks_table th a .dynatable-arrow {
	float: right;
}

#addNewTask {
	display: none;
}

.ui-dialog {
	z-index: 1002!important;
}
.ui-widget-overlay {
	z-index: 1001!important;
}
#freelancer_select {
	z-index: 1003;
}

.addNewTaskContainer {
	min-width: 400px;
}
#addNewTask {
	overflow: hidden;
}

.addNewTaskContainer .row {
	margin-top: 8px;
	margin-bottom: 8px;
}

.cne-dashboard-widget {
	width: 200px;
	float: left;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.ui-widget-header {
	background: none !important;
	border: none !important;
	border-bottom: 1px solid #dddddd !important;
	border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.dashboard-shortcode-info p {
	margin: 0 0 4px;
}
.dashboard-shortcode-info {
	margin-bottom: 10px;
}